body{
    background-color: #DCC4C4;
}

.logo{
    width: 100%;
    border: solid #DCC4C4;
}


@media screen and (min-width: 1024px){
    .logo{
        width: 50%;
    }
}


*{
    margin: 0;   
    }
    
    header {

    display: inline-block;
    align-items: center;
    padding: 12px;
    justify-content: space-around;
    background-color:#FCAC95;
    color: black;
    position: relative;
    top: 100%;
    width: 100%;
    text-align: center;
    }

    /* Importante para o menu tomar como referência *
    
    ul li{
    list-style: none;
    }
    
    .texto{
    color: white;
    }
    
    a{
    color: white;
    text-decoration: none;
    }
    
    .lista{
    display: none;
    position: absolute; /* Aqui está definindo onde o menu irá aparecer */
    
    Fazendo o menu aparecer quando clicado */
    .caixa:checked .lista{
    display: block;
    }
    
    Desaparecendo a caixa de seleção /
    #menu{
    display: none;
    }
    
    .lista-item{
    padding: 12px 0;
    color: black;
    position: relative;
    }