*{
    margin: 0;
    padding: 0;
  }
  
  
  .cabecalho{
     background-color:#32CD32; 
     color:#04010a;
     display: flex;
     justify-content: space-around;
     padding: 24px 0;
  }
  
    .cabecalho-imagem{
      width: 1
      0%; border-radius: 50%;
  }
    .cabecalho-lista-item{
    display: inline-block;
    margin: 016px;
    font-size: 24px;
    
  }
  
  .escolaimagem{
    width: 20%;
  }
  
  .escola{
    background-image:linear-gradient(#8B4513,#8B4513);
    color:rgb(240, 213, 187);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
  }
  
.alunos-div {
  text-align: center;
  padding: 50px 0;
}

.alunos-todos {
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;

}
.estudante-isolado{
  text-align: center
}

.roda-pé-imagem{
  height: 70px;
  padding: 12px 0;
}
  .escola-div-conteudo{
    width: 35%;
  }
  .título-da-escola{
    padding: 24px 0;
  }

  .estudantes{
    background-image:linear-gradient(#360303,#360303);
    color:rgb(240, 213, 187);
    display: flex;}
  
.baseboard{
  background-color: #d17f7f; 
  color:#2a0e5e;
  display: flex;
  justify-content: space-around;
  padding: 24px 0;
}

.img{
  width: 1
  0%; border-radius: 60%;
}